.so-cascader-overrides {
  cursor: pointer;
  min-height: 56px;
  line-height: 1.1876em;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.87) !important;
  transition: unset;
  &:hover,
  &:focus {
    border-color: rgba(0, 0, 0, 0.87) !important;
    box-shadow: unset !important;
  }
  &.so-input-focus {
    border: 1px solid #1976d2 !important;
    box-shadow: unset !important;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #1976d2;
      border-radius: var(--input-border-radius, 3px);
      z-index: 1;
      pointer-events: none;
    }
  }
  .so-cascader-result {
    padding: 9px;
    .so-cascader-item {
      background: transparent;
      max-width: unset;
      padding: 2px 3px;
      margin: 0;
    }
    span {
      display: unset;
      overflow: unset;
      max-width: unset;
      padding: 0 12px;
      margin-right: unset;
      margin-bottom: unset;
      border-radius: unset;
      color: unset;
      text-overflow: unset;
    }
    .so-input-placeholder {
      font-size: 1rem;
      height: 100%;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      color: rgba(0, 0, 0, 0.42);
    }
  }
}
.so-list-absolute-wrapper {
  z-index: 1301;
}
